<div class="container">
  <div class="row">
    <div class="col m12 xl8">
      <h1>Welcome!</h1>

        <p>
          We dig <span class="ruby"><strong>Ruby</strong></span> and we dig elections! This is the voting module for <a href="https://columbusrb.com" target="_blank"><strong>Columbus Ruby Brigade.</strong></a><br>
          You can submit your candidacy, view candidates' information, and vote!
        </p>

        <% unless signed_in? %>
          <h2>Log in with your CRB Slack Account</h2>
          <%= link_to user_slack_omniauth_authorize_path do %>
            <img alt=""Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" />
          <% end %>
          <p>
            (You need to join CRB's <a href="https://crb-slack-invite.herokuapp.com/" target="_blank">Slack</a> in order to run as a candidate and vote.)
          </p>
        <% end %>

      <h2>The Important Stuff!</h2>
      <% unless voting_over? %>
        <p>
          <span class="rainbow-text">Nominations Run:</span> <br>
          <span><%= l nominations_starts %> - <br> 
          <%= l nominations_ends %></span>
        </p>
        <p>
        <% if within_nominations_period? %>
          <strong>Want to submit your candidacy for one of five (5) spots on the Columbus Ruby Brigade's Board?</strong><br>
          <p>
            <%= link_to 'Submit Candidacy!', new_candidate_path, class: 'waves-effect waves-light btn center-align' %>
          </p>
        <% end %>
        </p>
        <p>
          <span class="rainbow-text">Voting Runs:</span><br>
          <span><%= l voting_starts %> - <br>
          <%= l voting_ends %></span>
        </p>
        <p>
        <% if within_voting_period? %>
          <strong>It's time to vote for 2025 CRB Board Members! <br>
          Read up on the candidates! Cast your votes!</strong>
          <p>
            <%= link_to 'Go Vote!', candidates_path, class: 'waves-effect waves-light btn center-align' %>
          </p>
        <% end %>
        </p>
      <% end %>
      <% if voting_over? %>
          <p>
            <span class="rainbow-text">Voting is over! Go see the election results now!</span>
          </p>
      <% end %>
    </div>
  </div>
</div>
