<%= form_with(model: candidate, local: true) do |form| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <strong><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</strong>

      <ul>
        <% candidate.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col s12">
      <div class="input-field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
      </div>

      <div class="input-field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </div>

      <div class="input-field">
        <%= form.label :bio %>
        <%= form.text_area :bio, class: "materialize-textarea" %>
      </div>

      <%= form.label :professional do %>
        <%= form.check_box :professional, { class: 'filled-in' } %>
        <span class="professional-grade ruby"><i class="mdi mdi-ruby mdi-12px"></i> Ruby Professional?</span><br>
        <span class="professional-grade">...is someone with 3+ years of experience in a technical role.<br>
        There should be at least one board member who has less than 3 years of development experience OR is a non-developer.</span>
        </span>
      <% end %>

      <div class="input-field">
        <%= form.label :why, 'Why are you running?' %>
        <%= form.text_area :why, class: "materialize-textarea" %>
      </div>

      <div class="actions">
        <%= form.button :submit, class: 'btn waves-effect waves-light' do %>
          Submit <i class='mdi mdi-send right'></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
