<div class="container">
  <div class="row">
    <div class="col">
      <% if voting_over? %>
        <h1>Congratulations!</h1>
            <div class="row card-container">
              <% Candidate.new_board_members.each do |b| %>
                <div class="col">
                  <div class="card card-panel">
                    <div class="candidate-picture" style="background-image: url(<%= b.user.avatar_url %>);"></div>
                    <div class="card-content">
                      <% if b.professional == true %>
                        <span class="card-title ruby center-align"><%= b.full_name %></span>
                      <% else %>
                        <span class="card-title yellow-gradient-text center-align"><%= b.full_name %></span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
      <% else %>
        <h1>Candidates</h1>
            <div class="margin-box left-align">              
              <% unless voting_over? %>
                <% if within_nominations_period? %>
                <p>
                  <span class="rainbow-text">Nominations Run:</span>
                  <br>
                  <span>
                    <%= l nominations_starts %> - <br> 
                    <%= l nominations_ends %>
                  </span>
                </p>
                <% end %>
                <p>
                  <span class="rainbow-text">Voting Runs:</span>
                  <br>
                  <span>
                    <%= l voting_starts %> - <br>
                    <%= l voting_ends %>
                  </span>
                </p>
                <p>
                  <span class="rainbow-text">About Voting:</span><br>
                  <%= "You've cast: #{current_user.votes.count} / #{User.max_vote_count}" %>
                  <p>
                  <ul>
                    <li>Remember that you can vote for <%= "#{User.max_vote_count}" %> candidates for the CRB board.</li>
                    <li>When we count the votes, the <%= "#{User.max_vote_count - 1}" %> highest voted candidates will be seated on the 2025 Board of Directors.</li>
                    <li>If this includes someone who's day job isn't in tech, we'll also seat the <%= "#{User.max_vote_count.ordinalize}" %> highest voted candidate.</li>
                    <li>If we have not filled the non-professional board seat, we will seat the highest voted non-professional candidate.</li>
                  <ul>
                  </p>
                </p>
                <% if within_nominations_period? && current_user.candidate? %>
                  <div class="fixed-action-btn click-to-toggle">
                    <span class="btn-floating btn-large" title="Your Candidacy Options">
                      <i class='mdi mdi-menu rainbow mdi-36px'></i>
                    </span>
                    <ul>
                      <%= link_to current_user.candidate, method: :delete do %>
                        <li><span class="btn-floating yellow-gradient click-to-toggle" title="Delete your entry"><i class="mdi mdi-trash-can mdi-12px"></i></span></li>
                      <% end %>
                      <%= link_to edit_candidate_path(current_user.candidate) do %>
                        <li><span class="btn-floating yellow-gradient click-to-toggle" title="Edit your entry"><i class='mdi mdi-pencil mdi-12px'></i></span></li>
                      <% end %>
                    </ul>
                  </div>
                <% else %>
                  <% if within_nominations_period? %>
                    <p>Hi there! Want to run for the Board of Columbus Ruby Brigade?
                    </p>
                    <%= link_to 'Add yourself as a candidate!', new_candidate_path, class: 'waves-effect waves-light btn center-align' %>
                  <% end %>
                <% end %>
              <% end %>
            </div>

          <div class="row card-container">
            <% @candidate.each do |candidate| %>
              <div class="col">
                <div class="card card-panel">
                  <div>
                    <div class="candidate-picture" style="background-image: url(<%= candidate.user.avatar_url %>);">
                  </div>
            
                  <div class="card-content left-align">
                    <p>
                      <span class="card-title rainbow-text"><%= candidate.full_name %> </span>
                    </p>
                    <p>
                      <span class="rainbow-text">Bio:</span><br>
                      <%= truncate(candidate.bio, length: 220) %>
                    </p>
                    <p>
                      <span class="rainbow-text">Why <%= candidate.first_name %> Is Running:</span><br>
                      <%= truncate(candidate.why, length: 220) %>
                    </p>
                    
                    <% if candidate.professional == true %>
                      <span class="professional-grade ruby" title="Someone with 3+ years of experience in a technical role">
                        <i class="mdi mdi-ruby mdi-12px"></i> Ruby Professional
                      </span>
                    <% else %>
                      <span class="professional-grade yellow-gradient-text" title="New professional with less than 3 years of experience in a technical role or non-developer">
                        <i class="mdi mdi-ruby mdi-12px"></i> New Professional || Non-technical
                      </span>
                    <% end %>

                  <div class="card-action extra-margin center-align">
                    <%= link_to 'View Candidate Profile', candidate, class: 'waves-effect waves-light btn center-align' %>
                    <% if within_voting_period? %>
                      <% if current_user.votes.exists?(candidate: candidate) %>
                        <%= button_to 'Remove Vote', { action: 'vote', id: candidate.id }, class: 'btn-vote-remove extra-margin waves-effect waves-light btn center-align' %>
                      <% else %>
                        <%= button_to 'Vote', { action: 'vote', id: candidate.id }, class: 'btn-vote-add extra-margin waves-effect waves-light btn center-align' %>
                      <% end %>
                    <% end %>
                    <% if voting_over? %>
                      <p>
                        <span class="test-text" title="Vote"><%= candidate.votes_count %>
                        <i class='mdi mdi-vote mdi-24px'></i></span>
                      </p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('turbolinks:load', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left',
      hoverEnabled: false
    });
  });
</script>
