<p>
  <strong>First name:</strong>
  <%= @candidate.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @candidate.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @candidate.bio %>
</p>

<p>
  <strong>Professional:</strong>
  <%= @candidate.professional %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @candidate.picture %>
</p>

<p>
  <strong>Why:</strong>
  <%= @candidate.why %>
</p>

<p>
  <strong>User:</strong>
  <%= @candidate.user_id %>
</p>

<% if @candidate.user_id == current_user.id %>
<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<% end %>
<%= link_to 'Back', candidates_path %>
