<!DOCTYPE html>
<html>
  <head>
    <title>Prospect: The Columbus Ruby Brigade's Nomination & Voting App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="nav-extended">
      <div class="nav-wrapper nav-padding">
        <%= link_to root_path do %>
          <%= image_tag("crb_logo_prospect.png", class: "shrink-logo", alt: "Columbus Ruby Brigade Logo") %>
        <% end %>
        <ul id="nav" class="right push-left">
          <% if user_signed_in? %>
            Hello, <strong><%= current_user.name %></strong>
            <%= content_tag(:li, link_to('Logout', destroy_user_session_path, :method => :delete)) %>
            <%= content_tag(:li, link_to('Candidates', candidates_path)) %>
          <% else %>
            <%= content_tag(:li, link_to('Login', new_user_session_path))  %>  
          <% end %>
          </ul>
      </div>
      </nav>
    </header>

  <main>
    <%= yield %>
  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row footer-link">
        <div class="col l6 s12 footer-link">
          <h5 class="white-text">Columbus Ruby Brigade</h5>
            <%= image_tag("crb_prospect_scatter.png", alt: "Columbus Ruby Brigade: Prospect", class: "shrink-image") %><br>
          <p class="grey-text text-lighten-4">
            The Columbus Ruby Brigade is dedicated to the promotion of the Ruby Programming Language.
          </p>
        </div>
        <div class="col l4 offset-l2 s12 footer-links">
          <h5 class="white-text">Links</h5>
          <ul>
            <%= link_to root_path do %>
              <li><span class="grey-text text-lighten-3">Home</span></li>
            <% end %>
            <%= link_to candidates_path do %>
              <li><span class="grey-text text-lighten-3">Candidates</span></li>
            <% end %>
            <li><a class="gray-text text-lighten-3" href="https://columbusrb.com" target="_blank">Columbus Ruby Brigade Site</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Columbus Ruby Brigade
      <a class="grey-text text-lighten-4 right" href="https://crb-slack-invite.herokuapp.com/" target="_blank"><i class="mdi mdi-slack mdi-24px"></i></a>
      <a class="grey-text text-lighten-4 right" href="https://twitter.com/columbusrb" target="_blank"><i class="mdi mdi-twitter mdi-24px"></i></a>
      <a class="grey-text text-lighten-4 right" href="https://github.com/columbusrb" target="_blank"><i class="mdi mdi-github-circle mdi-24px"></i></a>
      <a class="grey-text text-lighten-4 right" href="https://www.meetup.com/columbusrb/" target="_blank"><i class="mdi mdi-meetup mdi-24px"></i></a>
      </div>
    </div>
  </footer>

  </body>
  <script type="text/javascript">
    <% unless flash.empty? %>
        <% flash.each do |f| %>
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
            toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
    <% end %>
  </script>
</html>
